@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

@keyframes logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pillar1 {
  from {
    bottom: 0;
    height: 56px;
    width: 340px;
    background-color: #fff;
  }
  to {
    bottom: 698px;
    height: 16px;
    width: 310px;
    background-color: #ccd6d8;
  }
}

@keyframes pillar2 {
  from {
    bottom: 0;
    height: 56px;
    width: 260px;
    background-color: #ccd6d8;
  }
  to {
    bottom: 715px;
    height: 5px;
    width: 320px;
    background-color: #fff;
  }
}

@keyframes lines {
  from {
    top: 0;
  }
  to {
    top: 75%;
  }
}

.bannerBack {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: linear-gradient(
      161.44deg,
      rgba(193, 5, 19, 0.1) 12.57%,
      rgba(0, 0, 0, 0) 76.73%
    ),
    linear-gradient(
      286.42deg,
      rgba(193, 5, 19, 0.2) 8.68%,
      rgba(0, 0, 0, 0) 35.64%
    ),
    linear-gradient(#282b33, #282b33);
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation-name: logo;
  animation-duration: 3s;
}
.unhome {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 840px;
  width: 340px;
}
.pillar1 {
  position: absolute;
  right: 0;
  bottom: 700px;
  height: 16px;
  width: 310px;
  background-color: #ccd6d8;
  animation-name: pillar1;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-direction: normal;
}
.pillar2 {
  position: absolute;
  right: 0;
  bottom: 718px;
  height: 5px;
  width: 320px;
  background-color: #fff;
  animation-name: pillar2;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-direction: normal;
}
.horizontal_lines {
  position: absolute;
  right: 130px;
  bottom: 150px;
}
.banner_text {
  position: absolute;
  top: 20%;
  left: 20%;
}
.banner_text1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  color: #d3d2d2;
  text-shadow: 14px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat Alternates", sans-serif;
}
.banner_text2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  color: rgba(198, 53, 24, 1);
  text-shadow: 14px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat Alternates", sans-serif;
}
.banner_text3 {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -70%);
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 14px 4px 4px rgba(0, 0, 0, 0.5);
}
.lines {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: lines;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-direction: normal;
}
.doll {
  position: absolute;
  top: 0;
  left: 50%;
}
