@keyframes logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pillar1 {
  from {
    bottom: 0;
    height: 56px;
    width: 340px;
    background-color: #fff;
  }
  to {
    bottom: 698px;
    height: 16px;
    width: 310px;
    background-color: #ccd6d8;
  }
}

@keyframes pillar2 {
  from {
    bottom: 0;
    height: 56px;
    width: 260px;
    background-color: #ccd6d8;
  }
  to {
    bottom: 715px;
    height: 5px;
    width: 320px;
    background-color: #fff;
  }
}

.bannerBack {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: linear-gradient(
      161.44deg,
      rgba(193, 5, 19, 0.1) 12.57%,
      rgba(0, 0, 0, 0) 76.73%
    ),
    linear-gradient(
      286.42deg,
      rgba(193, 5, 19, 0.2) 8.68%,
      rgba(0, 0, 0, 0) 35.64%
    ),
    linear-gradient(#282b33, #282b33);
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation-name: logo;
  animation-duration: 3s;
}
.unhome {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 840px;
  width: 340px;
}
.horizontal_lines {
  position: absolute;
  right: 130px;
  bottom: 150px;
}
.pillar1 {
  position: absolute;
  right: 0;
  bottom: 700px;
  height: 16px;
  width: 310px;
  background-color: #ccd6d8;
  animation-name: pillar1;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-direction: normal;
}
.pillar2 {
  position: absolute;
  right: 0;
  bottom: 718px;
  height: 5px;
  width: 320px;
  background-color: #fff;
  animation-name: pillar2;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-direction: normal;
}
