@font-face {
  font-family: "Gotham";
  src: url("/public/fonts/Gotham_book.otf");
}
@font-face {
  font-family: "Montserrat_Alternates";
  src: url("/public/fonts/MontserratAlternates-Bold.ttf");
}
@keyframes logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes unhome {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pillar1 {
  from {
    bottom: 0;
    height: 56px;
    width: 340px;
    background-color: #fff;
  }
  to {
    bottom: 718px;
    height: 5px;
    width: 320px;
    background-color: #fff;
  }
}

@keyframes pillar2 {
  from {
    bottom: 56px;
    height: 56px;
    width: 260px;
    background-color: #ccd6d8;
  }
  to {
    bottom: 700px;
    height: 16px;
    width: 310px;
    display: block;
    background-color: #ccd6d8;
  }
}

@keyframes horizontal_lines {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes banner_text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes banner_text3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lines {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 41%;
  }
}

@keyframes doll {
  from {
    transform: scale(0.3, 0.3) rotate(65deg);
    left: 60%;
    top: -50%;
  }
  to {
    transform: scale(1, 1) rotate(0deg);
    left: 36.45%;
    top: 79%;
  }
}

@keyframes requestBtn {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: auto;
  }
}
@keyframes lineforpad {
  0% {
    opacity: 0;
    top: 200px;
    left: 830px;
    height: 350px;
  }
  50% {
    opacity: 0.7;
    top: -100px;
    left: 830px;
    height: 150px;
  }
  100% {
    opacity: 1;
    top: -200px;
    left: 830px;
    height: 350px;
  }
}
@keyframes gamepadImg {
  from {
    top: 100px;
    left: 680px;
    opacity: 0;
    transform: scale(0.5, 0.5) rotate(-50deg);
  }
  to {
    opacity: 1;
    top: 120px;
    left: 658px;
    transform: scale(1, 1) rotate(0deg);
  }
}
@keyframes whatwedoimg1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes whatwedoimg2 {
  from {
    opacity: 0;
    right: -100px;
    bottom: 250px;
  }
  to {
    opacity: 1;
    right: 170px;
    bottom: 250px;
  }
}

.bannerBack {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: linear-gradient(
      161.44deg,
      rgba(193, 5, 19, 0.1) 12.57%,
      rgba(0, 0, 0, 0) 76.73%
    ),
    linear-gradient(
      286.42deg,
      rgba(193, 5, 19, 0.2) 8.68%,
      rgba(0, 0, 0, 0) 35.64%
    ),
    linear-gradient(#282b33, #282b33);
}
.bannerBack::after {
  z-index: 2;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 4px;
  width: 35%;
  background-color: #c63518;
}
.mbannerBack {
  position: relative;
  height: 100%;
  background-size: cover;
  background: linear-gradient(
      161.44deg,
      rgba(193, 5, 19, 0.1) 12.57%,
      rgba(0, 0, 0, 0) 76.73%
    ),
    linear-gradient(
      286.42deg,
      rgba(193, 5, 19, 0.2) 8.68%,
      rgba(0, 0, 0, 0) 35.64%
    ),
    linear-gradient(#282b33, #282b33);
  border-bottom: #c63518 4px solid;
}
.mwhoweareBack {
  position: relative;
  height: 100%;
  background-size: cover;
  background: linear-gradient(
      286.42deg,
      rgba(193, 5, 19, 0.2) 8.68%,
      rgba(0, 0, 0, 0) 35.64%
    ),
    linear-gradient(#282b33, #282b33);
}
.mwhoweareBack::after {
  z-index: 2;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 4px;
  width: 70%;
  background-color: #c63518;
}
.mwhatwedoBack {
  padding-bottom: 50px;
  position: relative;
  height: 100%;
  background-size: cover;
  background: linear-gradient(
      286.42deg,
      rgba(193, 5, 19, 0.2) 8.68%,
      rgba(0, 0, 0, 0) 35.64%
    ),
    linear-gradient(#282b33, #282b33);
}
.mbannerText1 {
  margin-top: -150px !important;
  font-family: "Montserrat_Alternates" !important;
  font-style: normal;
  font-size: 24px !important;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-shadow: 14px 4px 4px rgba(0, 0, 0, 0.5);
}
.mbannerText2 {
  font-family: "Montserrat_Alternates" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 36px !important;
  line-height: 44px;
  text-transform: uppercase;
  color: #d3d2d2;
  text-align: center;
  text-shadow: 14px 4px 4px rgba(0, 0, 0, 0.25);
}
.mobile_doll {
  margin-top: 50px !important;
  margin-left: -20px !important;
}
.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  opacity: 1;
  animation-name: logo;
  animation-duration: 4s;
  z-index: 1;
}
.unhome {
  z-index: 2;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 840px;
  width: 340px;
  animation-name: unhome;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.pillar1 {
  z-index: 1;
  height: 0;
  position: absolute;
  right: 0;
  bottom: 700px;
  background-color: #ccd6d8;
  animation-name: pillar1;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.pillar2 {
  z-index: 0;
  height: 0;
  position: absolute;
  right: 0;
  bottom: 718px;
  background-color: #fff;
  animation-name: pillar2;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}
.horizontal_lines {
  opacity: 0;
  position: absolute;
  right: 130px;
  bottom: 150px;
  animation-name: horizontal_lines;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}
.banner_text {
  opacity: 0;
  position: absolute;
  top: 200px;
  left: 200px;
  animation-name: banner_text;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}
.banner_text1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  color: #d3d2d2;
  text-shadow: 14px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat_Alternates", sans-serif;
}
.banner_text2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  color: rgba(198, 53, 24, 1);
  text-shadow: 14px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat_Alternates", sans-serif;
}
.banner_text3 {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -70%);
  font-family: "Montserrat_Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 14px 4px 4px rgba(0, 0, 0, 0.5);
  animation-name: banner_text3;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-delay: 8s;
  animation-fill-mode: forwards;
  z-index: 1;
}
.lines {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 48.7%;
  transform: translate(-50%, 0);
  animation-name: lines;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}
.doll {
  z-index: 1;
  transform: scale(0.3, 0.3) rotate(65deg);
  position: absolute;
  left: 60%;
  top: -90%;
  animation-name: doll;
  animation-duration: 7s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-delay: 14s;
  animation-fill-mode: forwards;
}
.requestBtn {
  opacity: 0;
  position: absolute;
  top: 350px;
  left: 200px;
  background: #c63518 !important;
  width: 300px;
  height: 60px;
  text-transform: initial !important;
  pointer-events: none;
  font-family: "Gotham";
  font-size: 18px !important;
  font-weight: 400 !important;
  animation-name: requestBtn;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-delay: 20s;
  animation-fill-mode: forwards;
}
.mrequestBtn {
  text-transform: initial !important;
  background: #c63518 !important;
  width: 300px;
  height: 60px;
  font-family: "Gotham";
  font-size: 18px !important;
  font-weight: 400 !important;
  margin-bottom: 120px !important;
}
.whoareweBack {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: linear-gradient(
      286.42deg,
      rgba(193, 5, 19, 0.2) 8.68%,
      rgba(0, 0, 0, 0) 35.64%
    ),
    linear-gradient(#282b33, #282b33);
}
.whoareweBack::after {
  z-index: 2;
  content: "";
  position: absolute;
  right: 0;
  bottom: 14px;
  height: 4px;
  width: 67%;
  background-color: #c63518;
}
.whoarewe_wrap {
  position: absolute;
  top: 300px;
  left: 330px;
  width: 350px;
  height: 300px;
}
.whoweare_title {
  font-family: "Montserrat_Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #c63518;
}
.whoweare_text {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.whoweareimg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.whowearetitle_mobile {
  font-family: "Montserrat_Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #c63518;
}
.whowearetext_mobile {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.lineforpad {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 200px;
  left: 830px;
  height: 350px;
  animation-name: lineforpad;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.gamepadImg {
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 100px;
  left: 680px;
  transform: scale(0.5, 0.5) rotate(-50deg);
  animation-name: gamepadImg;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
.whatwedo_wrap {
  position: absolute;
  top: 430px;
  left: 528px;
  width: 350px;
  height: 300px;
}
.whatwedoBack {
  position: relative;
  width: 100%;
  height: 85vh;
  background-size: cover;
  background: linear-gradient(
      286.42deg,
      rgba(193, 5, 19, 0.2) 8.68%,
      rgba(0, 0, 0, 0) 35.64%
    ),
    linear-gradient(#282b33, #282b33);
}
.whatwedo_title {
  font-family: "Montserrat_Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #c63518;
}
.whatwedo_text {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.whatwedoimg1 {
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  animation-name: whatwedoimg1;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}
.whatwedoimg2 {
  opacity: 0;
  position: absolute;
  right: -100px;
  bottom: 250px;
  animation-name: whatwedoimg2;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}
.whatwedotitle_mobile {
  text-align: center;
  font-family: "Montserrat_Alternates";
  font-style: normal;
  font-weight: 700;
  font-size: 24px !important;
  line-height: 29px;
  text-transform: uppercase;
  color: #c63518;
}
.whatwedotext_mobile {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.footerback {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-size: cover;
  background: linear-gradient(
      286.42deg,
      rgba(193, 5, 19, 0.2) 8.68%,
      rgba(0, 0, 0, 0) 35.64%
    ),
    linear-gradient(#282b33, #282b33);
  border-top: 4px solid #c63518;
}
.footerText {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.footerText2 {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}
.footerImage {
  position: absolute;
  right: 0;
  top: 0;
}
.none {
  display: none;
}
